$primary-color: #9356dc;
$secondary-color: #ff79da;
$green-color: #99e2d0;
$green-dark-color: #008766;
$blue-color: #89c8fa;
$blue-dark-color: #003a68;
$grey-color: #353535;
$grey-light-color: #eaeaea;
$background-color: #f6f6f6;
$text-color: black;
$white: white;
$desktop: 1024px;
$tablet: 800px;
