.header {
  @include flex(row,space-between,center);
  height: 90px;
  margin: 0 10rem;

  &__logo {
    width: 20rem;
    object-fit: contain;
  }

  &__title {
    color: $primary-color;
    font-size: 3.6rem;
  }
}
