# Fichiers générés par l'OS
.DS_Store
Thumbs.db

# Dossiers générés par l'OS
.DS_Store
.cache/
Desktop.ini
node_modules/
dist/

# Fichiers de build ou de compilation
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Fichiers spécifiques à ESLint
.eslintcache
.eslintignore

# Fichiers spécifiques à Visual Studio Code
.vscode/

# Fichiers de sauvegarde
*~
*.swp

# Fichiers css map
css/style.css.map
