.lightbox {
  display: none;
  position: fixed;
  background: white;
  z-index: 9999;
  inset: 0;

  &.open {
    display: block;
  }
}

.lightbox-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.lightbox__prev,
.lightbox__next,
.lightbox__close {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.lightbox__prev,
.lightbox__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  svg {
    width: 8rem;
    height: 8rem;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.lightbox__next {
  right: 1%;
}
.lightbox__prev {
  left: 1%;
}

.lightbox__close {
  position: absolute;
  top: 6%;
  right: 1.5%;
  svg {
    width: 5rem;
    height: 5rem;
  }
}

.lightbox__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  margin: auto;
}

.lightbox__title {
  color: $primary-color;
  font-size: 2.4rem;
  text-align: left;
  width: 80%;
}
