.lightbox {
  display: none;
  position: fixed;
  background: white;
  z-index: 99;
  width: 100%;
  height: 100%;
  inset: 0;

  &.open {
    display: block;
  }

  button {
    background: transparent;
    border: none;
  }
}

.lightbox__prev,
.lightbox__next,
.lightbox__close {
  cursor: pointer;
}

.lightbox__prev,
.lightbox__next {
  position: fixed;
  top: 50%;
}

.lightbox__next {
  right: 2%;
}
.lightbox__prev {
  left: 0;
}
.lightbox__close {
  position: fixed;
  top: 4%;
  right: 0;
}

.lightbox__container {
  @include flex(column, space-evenly, center);
  height: 90vh;
  margin: 5rem auto;
}

.lightbox__media {
  border-radius: 5px;
  background: #c4c4c4;
  height: 100%;
  width: 80%;
  video,
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.lightbox__title {
  color: $primary-color;
  font-size: 2.4rem;
  text-align: left;
  width: 80%;
}
